/* Колір основного тексту #757575 */
/* Додатковий колір #212121 */
/* Білий (Хедер) #FFFFFF */
/* Чорний #000000 */
/* Сірий фон #2F303A; */
/* Акцент #2196F3 */
/* Фон додатковий #F5F4FA; */
:root {
  --brand-color: #757575;
  --second-color: #212121;
  --main-background: #ffffff;
  --background-head: #2f303a;
  --background-add: #f5f4fa;
  --accent-color: #2196f3;
  --head-logo: #000000;
  --border-color: #eeeeee;
  --line-header: #ececec;
}
body {
  margin: 0;
  background-color: var(--main-background);
  color: var(--brand-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* -----Utilit classes---- */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.title {
  margin-bottom: 10px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------outline и beckground убрать--------*/

.container {
  width: 1200px;
  margin: 0 auto;
  /* margin: 0 auto; то же самое*/
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid tomato; */
}

/* -----------------header ----------*/
/* .header-flex {
  display: flex;
} */
.header-cont {
  border-bottom: 1px solid var(--line-header);
}
.header-cont,
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;

  color: var(--head-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
}
.logo-accent {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus .link:active {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .item + .item {
  margin-left: 50px;
}
/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.cont-link {
  color: var(--brand-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.cont-link:hover,
.contakts .cont-link:focus {
  color: var(--accent-color);
}

/* Main */
/* -----------hero-------------- */
/* Героя сказано - в контейнер не оборачиваем */
/* .hero-container {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;

  background-color: var(--background-head);
  /* margin: 0 auto; то же самое*/
/* padding-left: 15px;
  padding-right: 15px; 
} */
.hero {
  text-align: center;
  background-color: var(--background-head);

  /* width: 1600px; */
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--main-background);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.button {
  border-radius: 4px;
  padding: 10px 30px;
  display: inline-block;
  min-width: 216px;

  font-family: inherit;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--main-background);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  letter-spacing: 0.06em;
}

/* ---------------MAIN--------------------- */

/* section bacgr убр*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding-top {
  padding-top: 0;
}
.section-title {
  margin-bottom: 50px;

  color: var(--second-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------benefits---------- */

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  line-height: 1.7;
}
.benefits-list .item {
  width: 270px;
  margin: 15px;
}
.benefits-title {
  margin-bottom: 10px;

  color: var(--second-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* -------------work-------------- */
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.work-list .item {
  margin: 15px;
}

/* ------------team--------------- */

.section-team {
  background-color: var(--background-add);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: -15px;

  font-size: 16px;
  line-height: 1.2;
}
.team-list .item {
  margin: 15px;
  padding-bottom: 30px;

  background-color: var(--main-background);
}

.team-title {
  margin-top: 30px;

  color: var(--second-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/*---------- footer------------ */

.foot {
  background-color: var(--background-head);
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot-logo {
  color: var(--main-background);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-accent {
  color: var(--accent-color);
}
.address {
  font-style: normal;
  line-height: 1.7;
}
.foot-contakts {
  color: var(--brand-color);
}
.foot-contakts:hover,
.foot-contakts:focus {
  color: var(--accent-color);
}
.foot-address {
  color: var(--main-background);
}
.foot-address:hover,
.foot-address:focus {
  color: var(--accent-color);
}

/* --------portfolio------------- */

.ptf-filter {
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  justify-content: center;
}
.ptf-filter .item:not(:last-child) {
  margin-right: 8px;
}
.button-ptf {
  /* margin-right: 5px; */

  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 43px;
  border: 1px solid transparent;

  font-family: inherit;
  cursor: pointer;

  color: var(--second-color);
  background-color: var(--background-add);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.button-ptf:hover,
.button-ptf:focus {
  background-color: var(--accent-color);
  color: var(--main-background);
}

/* ----убрать марджин у посл 3-х картинок---- */
/* .ptf-list {
  
} */
.ptf-item {
  margin-bottom: 30px;
}
.ptf-item.last-line {
  margin-bottom: 0;
}
/* .ptf-filter .button-ptf + .button-ptf {
  margin-left: 80px;
} */

.ptf-list {
  display: flex;
  flex-wrap: wrap;
}
.ptf-title {
  margin-top: 20px;
  margin-bottom: 4px;

  color: var(--second-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.ptf-cont {
  width: 370px;
  height: 404px;
  padding-bottom: 20px;
  /* border: 1px solid var(--border-color); */

  margin-right: 30px;
  margin-bottom: 30px;
}
.ptf-down-block {
  border: 1px solid var(--border-color);
}
/* .ptf-img {
  border: 1px solid transparent;
} */
.ptf-cont:nth-child(3n) {
  margin-right: 0;
}
.ptf-cont:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/* .ptf-item {
  display: block;
}
.ptf-link {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.ptf-link:nth-child(3n) {
  margin-right: 0;
}
.ptf-link:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.ptf-project {
  color: var(--brand-color);

  font-size: 16px;
  line-height: 1.9;
}
